*{
    box-sizing: border-box;
}
.container {
  width: 530px;  
  padding: 10px;
  margin: 0 auto;
  border: 1px solid lightblue;
  border-radius: 10px;

  
}
h1 {
    text-align: center;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.box p {
    font-size: 18px;
}

#valuta {
    width: 173px;
}
.button {
    background-color: darkslategrey;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    border:1px solid lightskyblue;
    margin-top: 15px;
    font-weight: bold;

   
}

table:first-child th {
   
    padding: 10px;
    text-align: center;
   

}

table td {
    padding: 27px;
    text-align: center;
}

#firstlinetable {
    visibility: hidden;
    background: lightgray;


}